<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>


    <form action="/register" method="post" class="container logsigncontainer mt20">

        <div class="row formrow">
            <div class="column formcolumn centertext">
                <% if (typeof message != "undefined") { %>
                    <span class="textred"><%= message  %></span>
                <% } %>
            </div>
        </div>

        <div class="row formrow centertext">
            <div class="column formcolumn">
                <h3>My Account</h1>
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn centertext">
                <img src="<%= avatar  %>" alt="" width="72" class="avatar">
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="email" placeholder="Email" value="<%= email %>" name="email" class="signformfield">
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="text" placeholder="Display Name" value="<%= displayName %>" name="displayname" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="password" name="password" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="confirm password" name="confirmpassword" class="signformfield">
            </div>
        </div>

        <div class="row jcontcenter centertext">
            <div class="column formcolumn">
                <input class="yellowbutton button w100 textblack" type="submit" value="Update Account">      
            </div>
        </div>
        

    </form>

    <%- include("partials/footer") %>
</body>