<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container carddetails">
        <div class="row">
            <div class="column">
                <h3>Filter By</h3>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h5>Min HP</h5>
                <!--https://blog.hubspot.com/website/html-slider-->
                <form action="/filter" method="get">
                    <input type="range" min="0" max="200" value="100" step="5" name="minhp" oninput="minhpValue.innerText = this.value" class="slider">
                    <p id="minhpValue">100</p>

                    <h5>Max HP</h5>
                    <input type="range" min="0" max="200" value="100" step="5" name="maxhp" oninput="maxhpValue.innerText = this.value" class="slider">
                    <p id="maxhpValue">100</p>
                    <input type="submit" class="button-primary bluebutton textwhite mb0" value="Filter">                  
                </form>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h5>Min Likes</h5>
                <form action="/filter" method="get" class="dflex">
                    <input type="number" name="minlikes" class="searchbar" min="0">
                    <input type="submit" value="Filter" class="button-primary bluebutton textwhite mb0 ml10">                  
                </form>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h5>Expansion</h5>
                <form action="/filter" method="get" class="mb0 dflex">
                    <select id="expansionid" name="expid">
                        <% expansions.forEach(expansion => { %>
                            <option value=<%= expansion.expansion_id  %>><%= expansion.expansion_name  %></option>
                        <% }) %>
                    </select>
                    <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Filter">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h5>Type</h5>
                <form action="/filter" method="get" class="mb0 dflex">
                    <select id="typeid" name="typeid">
                        <% types.forEach(type => { %>
                            <option value=<%= type.type_id  %>><%= type.type_name  %></option>
                        <% }) %>
                    </select>
                    <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Filter">
                </form>
            </div>
        </div>

    </div>

    <%- include("partials/footer") %>
</body>
</html>