<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">
        <div class="row message">
            <div class="column">
                <h4>Messages</h4>
            </div>
        </div>

        <% messages.forEach(message => { %>
            <div class="row mb20 message">
                <div class="column column-75">
                    <p class="breakword"> PIkACHU <%= message.message_body %></p>
                </div>
    
                <div class="column column-25">
                    <span class="bold"><%= message.sender %></span> <span><%= message.time %> <%= message.date %></span>
                </div>

                <div class="column">

                </div>
            </div>
            <% }) %>
    </div>
    <%- include("partials/footer")  %>
</body>
</html>