<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <!-- form from milligram docs -->
    <div class="container mt10">

        <form action="/mycards" method="post" class="mb0">
            <fieldset class="talright mb0 dflex">
                <select id="collection" name="collid">
                    <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                    <option value="none" selected disabled hidden>Select Collection</option>
                    <% collections.forEach(element => { %>
                        <option value=<%= element.collection_id  %>><%= element.collection_name  %></option>
                    <% }) %>
                </select>
                <input class="button-primary bluebutton textwhite mb0" type="submit" value="Search">
            </fieldset>
        </form>

    </div>

    <%- include("partials/cards") %>

    <%- include("partials/footer") %>
</body>
</html>