<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <!-- form from milligram docs -->
    <div class="container mt10">
        <div class="row">
            <div class="column">
                <form action="/mycards" method="post" class="mb0">
                    <fieldset class="talright mb0 dflex">
                        <select id="collection" name="collid">
                            <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                            <option value="none" selected disabled hidden><%= collection %></option>
                            <% collections.forEach(element => { %>
                                <option value=<%= element.collection_id  %>><%= element.collection_name  %></option>
                            <% }) %>
                        </select>
                        <input class="button-primary bluebutton textwhite mb0" type="submit" value="Search">
                    </fieldset>
                </form>
            </div>

            <div class="column">
                <!-- form from milligram docs -->
                    <form action="/createcol" method="post" class="mb0 dflex rowgap5 colgap5 fdcol">
                        <fieldset class="talright mb0 dflex">
                            <input type="text" placeholder="Name" name="colName" id="searchField" class="wauto mb0">
                            <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Create">
                        </fieldset>
                    </form>
            </div>

        </div>

    </div>

    <%- include("partials/collectionCards") %>

    <%- include("partials/footer") %>
</body>
</html>