<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>


    <form action="/account" method="post" class="container logsigncontainer mt20">

        <% if (typeof message !== "undefined") { %>
            <div class="row jcontcenter centertext">
                <div class="column formcolumn">
                    <h4 class="textred"><%= message  %></h4>
                </div>
            </div>
        <% } %>

        <div class="row formrow centertext">
            <div class="column formcolumn">
                <h3>My Account</h1>
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn centertext">
                <img src="<%= avatar  %>" alt="" width="72" class="avatar">
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="email" placeholder="Email" maxlength="254" value="<%= email %>" name="email" class="signformfield" required>
            </div>
        </div>

        <div class="row formrow">
            <div class="column formcolumn">
                    <input type="text" placeholder="Display Name" maxlength="15" value="<%= displayName %>" name="displayname" class="signformfield" required>
            </div>
        </div>

        <div class="row jcontcenter centertext">
            <div class="column formcolumn">
                <input class="yellowbutton button w100 textblack" type="submit" value="Update Account">      
            </div>
        </div>
        
    </form>

    <form action="/changepassword" method="post" class="container logsigncontainer mt20">
        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="current password" name="currentpassword" class="loginformfield" required>
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  class="loginformfield" required>
            </div>
        </div>

        <div class="row jcontcenter">
            <div class="column formcolumn">
                <!--  lines adapted from skeleton doc-->
                    <input type="password" placeholder="confirm password" name="confirmpassword" class="loginformfield" required>
            </div>
        </div>

        <div class="row jcontcenter centertext">
            <div class="column formcolumn">
                <input class="redbutton button w100 textblack" type="submit" value="Change Password">      
            </div>
        </div>
        

    </form>


    <%- include("partials/footer") %>
</body>