<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container mt20">
        
        <div class="row">

            <div class="column column-25 centertext">
                <h4>Likes : <%= card.likeCount %></h4>
            </div>

            <% if (auth) { %>
                <div class="column column-offset-25">
                    <!-- form from milligram docs -->
                        <form action="/addcard" method="post" class="mb0 dflex rowgap5 colgap5 fdcol">
                            <fieldset class="talright mb0 dflex">
                                <input type="hidden" name="cardid" value=<%= card.cardId %>>
                                <select id="collection" name="collid" class="dropdown">
                                    <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                                    <option value="none" selected disabled hidden>Select Collection</option>
                                    <% collections.forEach(element => { %>
                                        <option value= "<%= element.collection_id  %>"><%= element.collection_name  %></option>
                                    <% }) %>
                                </select>                        
                                <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Add">
                            </fieldset>
                        </form>
                    </div>
            <% } %>

        </div>

        <div class="row cardimgrow">

            <div class="column column-25 cardimgcol dflex fdcol alitemscenter">
                <img class="cardpageimg" src="<%= card.image %>" alt="">
                <div>
                    <form action="/likecard" method="post" class="mb0">
                        <a href="<%= card.priceURL %>" class="button bluebutton">€<%= card.price %></a>
                        <input type="hidden" name="cardid" value="<%= card.cardId %>">
                        
                        <% if (!card.liked) { %>
                            <input class="button redbutton mb0" type="submit" name="likestatus" value="Like">
                        <% } else { %>
                            <input class="button redbuttonfaded mb0" type="submit" name="likestatus" value="Unlike">
                        <% } %>
                    </form>
                    
                </div>

            </div>

            
            <div class="column carddetails">

                <div class="container detailscontainer dflex fdcol">
                    <div class="row carddetailsrow">
                        <div class="column">
                            <h2 class="mb2"><%= card.name %></h2>
                        </div>

                        <div class="column cardinfocol dflex alitemscenter mb0">
                            <span>HP <%= card.hp %> </span>
                            <% card.types.forEach(type => { %>
                                <img src="<%= type.type_image %>" height="30" alt="">
                            <% }) %>
                        </div>
                    </div>

                    <div class="row carddetailsrow">
                        <div class="column">
                            <%= card.category %>
                        </div>

                        <div class="column cardinfocol dflex alitemscenter">
                            <div><%= card.stage %></div>
                        </div>
                    </div>

                    <% card.attacks.forEach(attack => { %>
                        <div class="row carddetailsrow attacktop">
                            <div class="column">
                                <h5 class="mb2 bold"><%= attack.attack_name %></h5>
                            </div>

                            <div class="column">
                                <p class="cardinfocol dflex mb0"><%= attack.damage %></p>
                            </div>
                        </div>

                        <div class="row carddetailsrow attackbottom">

                                <div class="column">
                                    <div><%= attack.effect %></div>
                                </div>

                        </div>
                    <% }) %>

                    <div class="row">
                        <div class="column">

                            <table>
                                <thead>
                                    <th>Evolves From</th>
                                    <th>Expansion</th>
                                    <th>Illustrator</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= card.evolveFrom %></td>
                                        <td><%= card.expansion %></td>
                                        <td><%= card.illustrator %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
    <%- include("partials/footer") %>
</body>
</html>