<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container mt20">
        
        <div class="row">

            <% if (typeof userid != "undefined" && userid != null) { %>
                <div class="column">

                    <!-- form from milligram docs -->
                        <form action="/addcard" method="post" class="mb0 dflex rowgap5 colgap5 fdcol">
                            <fieldset class="talright mb0 dflex">
                                <input type="hidden" name="cardid" value=<%= card.id %>>
                                <input type="hidden" name="collstatus" value="add">
                                <select id="collection" name="collid" class="dropdown" required>
                                    <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                                    <option value="" selected>Select Collection</option>
                                    <% collections.forEach(element => { %>
                                        <option value= "<%= element.collection_id  %>"><%= element.collection_name  %></option>
                                    <% }) %>
                                </select>                        
                                <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Add">
                            </fieldset>
                        </form>
                    </div>
            <% } %>

        </div>

        <div class="row cardimgrow">
            <div class="column column-25 cardimgcol dflex fdcol alitemscenter">
                <img class="cardpageimg" src="<%= card.image %>" alt="">

                    <% if (!card.liked) { %>

                    <form action="/likecard" method="post" class="dflex alitemscenter colgap5 likeform">
                        <a href="<%= card.priceURL %>" class="button bluebutton mb0">€<%= card.price %></a>
                        <input type="hidden" name="cardid" value="<%= card.id %>">
                        <input type="image" src="/images/like.png" class="mb0 likebutton" height=30 value="like">
                        <div><%= card.likeCount %></div>
                    </form>

                    <!-- experimenting with client side liking
                    <div id="likebutton" class="button yellowbutton mb0 textblack">like</div>
                    -->

                    <% } else { %>
                    <form action="/unlikecard" method="post" class="dflex alitemscenter colgap5">
                        <a href="<%= card.priceURL %>" class="button bluebutton mb0">€<%= card.price %></a>
                        <input type="hidden" name="cardid" value="<%= card.id %>">
                        <input type="image" src="/images/liked.png" class="mb0 likebutton" height=30 value="unlike">
                        <div><%= card.likeCount %></div>
                    </form>
                            
                    <% } %>
            </div>

            
            <div class="column">

                <div class="container">

                    <div class="row carddetailsrow mb10">
                        <div class="column cardleft dflex alitemscenter">
                            <h2 class="mb0"><%= card.name %></h2>
                        </div>

                        <div class="column cardright dflex alitemscenter">
                            <div>HP <%= card.hp %> </div>
                            <% card.types.forEach(type => { %>
                                <img src="<%= type.type_image %>" height="30" alt="">
                            <% }) %>
                        </div>
                    </div>

                    <div class="row carddetailsrow mb10 attacktop">
                        
                        <div class="column cardleft dflex alitemscenter">
                            <div><%= card.rarity %></div>
                        </div>

                        <div class="column cardright dflex alitemscenter">
                            <div><%= card.stage %></div>
                        </div>
                    </div>

                    <% if (card.ability.type) { %>
                        <div class="row carddetailsrow mb10">
                            <div class="column dflex alitemscenter colgap5">
                                <h5 class="bold mb0 textred"><%= card.ability.type %></h5> <h5 class="bold mb0"><%= card.ability.name %></h5>
                            </div>
                        </div>
    
                        <div class="row carddetailsrow mb10">
                            <div class="column">
                                <div><%= card.ability.description %></div>
                            </div>
                        </div>
                    <% } %>

                    <% card.attacks.forEach(attack => { %>

                        <div class="row carddetailsrow mb10">
                            <div class="column cardleft dflex alitemscenter colgap5">
                                <h5 class="bold mb0"><%= attack.attack_name %></h5>
                                <% for(let attackType = 0; attackType < attack.types.length; attackType++ ) { %>
                                    <% for(let mult = 0; mult < attack.types[attackType].multiplier; mult++ ) { %>
                                        <img src="<%= attack.types[attackType].type_image %>" alt="" height="30">
                                    <% } %>
                                <% } %>
                            </div>

                            <div class="column cardright dflex alitemscenter">
                                <div><%= attack.damage %></div>
                            </div>
                        </div>

                        <div class="row carddetailsrow mb10">
                            <div class="column">
                                <div><%= attack.effect %></div>
                            </div>
                        </div>
                    <% }) %>

                    <div class="row mb10 attackbottom">
                        <div class="column dflex jconteven">
                            <div>
                                <div class="bold centertext">Evolves From</div>
                                <div class="centertext"><%= card.evolveFrom %></div>
                            </div>

                            <div>
                                <div class="bold centertext">Expansion</div>
                                <div class="centertext"><%= card.expansion %></div>
                            </div>
                        </div>


                        <div class="column dflex jconteven">
                            <div>
                                <div class="bold centertext">Illustrator</div>
                                <div class="centertext"><%= card.illustrator %></div>
                            </div>

                            <div>
                                <div class="bold centertext">Weaknesss</div>
                                <div class="dflex jcontcenter colgap5">
                                    <% card.weakness.forEach(weak => { %>
                                        <img src="<%= weak.type_image %>" alt="" height="30">
                                        <% if (weak.multiplier) { %>
                                            <span><%= weak.multiplier %></span>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
    <%- include("partials/footer") %>
    <!-- experimenting with client side liking
    <script>
        const like =  async () => {
            const likeButton = document.getElementById("likebutton");

            likeButton.addEventListener("click", async () => {
                let response = await fetch(`http://localhost:3000/likecardjs`, {
                    method: "POST"
                    body: 
                });
                console.log(response.data)
            });
        }

        like()
    </script>
    -->
</body>
</html>