<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container mt20">
        
        <div class="row">

            <% if (typeof userid != "undefined" && userid != null) { %>
                <div class="column">

                    <!-- form from milligram docs -->
                        <form action="/addremovecard" method="post" class="mb0 dflex rowgap5 colgap5 fdcol">
                            <fieldset class="talright mb0 dflex">
                                <input type="hidden" name="action" value="0">
                                <input type="hidden" name="cardid" value=<%= card.cardID %>>
                                <select id="collection" name="collid" class="dropdown">
                                    <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                                    <option value="none" selected disabled hidden>Select Collection</option>
                                    <% collections.forEach(element => { %>
                                        <option value= "<%= element.collection_id  %>"><%= element.collection_name  %></option>
                                    <% }) %>
                                </select>                        
                                <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Add">
                            </fieldset>
                        </form>
                    </div>
            <% } %>

        </div>

        <div class="row cardimgrow">

            <div class="column column-25 cardimgcol dflex fdcol alitemscenter">
                <img class="cardpageimg" src="<%= card.image %>" alt="">
                <div>

                    <form action="/likecard" method="post" class="mb0 dflex alitemscenter colgap5">
                        <a href="<%= card.priceURL %>" class="button bluebutton mb0">€<%= card.price %></a>
                        <input type="hidden" name="cardid" value="<%= card.id %>">
                        
                        <% if (!card.liked) { %>
                            <input type="image" src="/images/like.png" class="mb0 likebutton" height=30 name="likestatus" value="like">
                        <% } else { %>
                            <input type="image" src="/images/liked.png" class="mb0 likebutton" height=30 name="likestatus" value="unlike">
                        <% } %>
                        <div><%= card.likeCount %></div>
                    </form>
                    
                </div>

            </div>

            
            <div class="column carddetails">

                <div class="container detailscontainer dflex fdcol">
                    <div class="row carddetailsrow">
                        <div class="column">
                            <h2 class="mb2"><%= card.name %></h2>
                        </div>

                        <div class="column cardinfocol dflex alitemscenter mb0">
                            <span>HP <%= card.hp %> </span>
                            <% card.types.forEach(type => { %>
                                <img src="<%= type.type_image %>" height="30" alt="">
                            <% }) %>
                        </div>
                    </div>

                    <div class="row carddetailsrow">
                        <div class="column">
                            <%= card.category %>
                        </div>

                        <div class="column cardinfocol dflex alitemscenter">
                            <div><%= card.stage %></div>
                        </div>
                    </div>

                    <% card.attacks.forEach(attack => { %>
                        <div class="row carddetailsrow attacktop">
                            <div class="column dflex colgap5">
                                <h5 class="mb2 bold"><%= attack.attack_name %></h5>
                                <% for(let attackType = 0; attackType < attack.types.length; attackType++ ) { %>
                                    <img src="<%= attack.types[attackType].type_image %>" alt="" height="30">
                                    <% if (attack.types[attackType].multiplier > 0) { %>
                                        <span>X<%= attack.types[attackType].multiplier %></span>
                                    <% } %>
                                <% } %>
                            </div>

                            <div class="column">
                                <p class="cardinfocol dflex mb0"><%= attack.damage %></p>
                            </div>
                        </div>

                        <div class="row carddetailsrow attackbottom">

                            <div class="column">
                                <div><%= attack.effect %></div>
                            </div>
                        </div>
                    <% }) %>

                    <div class="row">
                        <div class="column">
                            <div class="bold centertext">Evolves From</div>
                            <div class="centertext"><%= card.evolveFrom %></div>
                        </div>

                        <div class="column">
                            <div class="bold centertext">Expansion</div>
                            <div class="centertext"><%= card.expansion %></div>
                        </div>

                        <div class="column">
                            <div class="bold centertext">Illustrator</div>
                            <div class="centertext"><%= card.illustrator %></div>
                        </div>

                        <div class="column">
                            <div class="bold centertext">Weaknesss</div>
                            <div class="dflex jcontcenter colgap5">
                                <% card.weakness.forEach(weak => { %>
                                    <img src="<%= weak.type_image %>" alt="" height="30">
                                    <% if (weak.multiplier > 0) { %>
                                        <span>X<%= weak.multiplier %></span>
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
    <%- include("partials/footer") %>
</body>
</html>