<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container">

        <div class="row">
            <% if (!isOwner) { %>
                <div class="column">
                    <h4><%= currentCollection.collection_name %></h4>
                </div>
    
                <div class="column">
                    <!-- form from milligram docs -->
                    <div class="righttext">
                        <h4>Average Rating: <%= rating %></h4>
                    </div>
                </div>
            <% } else { %>
                <div class="column">
                    <form action="/mycards/collections" method="post" class="mb0">
                        <fieldset class="talright mb0 dflex">
                            <select id="collection" name="collid" class="dropdown">
                                <!--https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/-->
                                <option value="none" selected disabled hidden><%= currentCollection.collection_name %></option>
                                <% collections.forEach(element => { %>
                                    <option value=<%= element.collection_id  %>><%= element.collection_name  %></option>
                                <% }) %>
                            </select>
                            <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Search">
                        </fieldset>
                    </form>
                </div>
    
                <div class="column dflex">
                    <!-- form from milligram docs -->
                        <form action="/createcol" method="post" class="mb0 dflex rowgap5 colgap5 fdcol w75">
                            <fieldset class="talright mb0 dflex">
                                <input type="text" placeholder="Name" name="colName" id="searchField" class="wauto mb0 searchbar">
                                <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Create">
                            </fieldset>
                        </form>


                    <form action="/deletecol" method="post" class="mb0 dflex rowgap5 colgap5 fdcol">
                        <input type="hidden" name="collid" value="<%= currentCollection.collection_id %>">
                        <input class="button redbutton mb0" type="submit" value="Delete">
                    </form>
                </div>

            <% } %>
        </div>

    </div>
    
    <% if (!auth) { %>
        <%- include("partials/cards") %>
    <% } else { %>
        <%- include("partials/collectionCards") %>
    <% } %>

    <div class="container mt20">
        <div class="row">
            <div class="column">
                <% if (!rated) { %>
                    <form action="/ratecollection" class="dflex jcontspacearound mb0" method="post" class="mb0">
                        <input type="hidden" name="collid" value="<%= currentCollection.collection_id  %>">
                    
                        <div>
                            <input class="ratingradio" type="radio" name="rating" value="1">
                            <label>1</label><br>
                        </div>
                        
                        <div>
                            <input class="ratingradio" type="radio" name="rating" value="2">
                            <label>2</label><br>
                        </div>
                    
                        <div>
                            <input class="ratingradio" type="radio" name="rating" value="3">
                            <label>3</label><br>
                        </div>
                    
                        <div>
                            <input class="ratingradio" type="radio" name="rating" value="4">
                            <label>4</label><br>
                        </div>
                    
                        <input class="button redbutton mb0" type="submit" name="ratestatus" value="Rate">
                    </form>
                <% } else { %>
                    <div class="dflex colgap10">
                        <h4>Your rating: <%= yourRating %></h4>

                        <form action="/ratecollection" method="post" class="mb0">
                            <input type="hidden" name="collid" value="<%= currentCollection.collection_id %>">
                                <input class="button redbuttonfaded mb0" type="submit" name="ratestatus" value="Undo">
                        </form>
                    </div>
                <% } %>
            </div>

            <div class="column">
                    <form action="/commentcollection" method="post" class="dflex colgap10">
                        <input type="hidden" name="collid" value="<%= currentCollection.collection_id %>">
                        <textarea name="comment" cols="30" rows="10" class="searchbar"></textarea>
                        <input class="button yellowbutton mb0 textblack" type="submit" value="Comment">
                    </form>
                </div>
            </div>

        <div class="row">
            <div class="column">
                <h4>Comments</h4>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>