<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container collectioncontainer">
        <div class="container">

            <% if (!collection.isOwner) { %>
                <div class="row mb20">
                    <div class="column cardleft dflex colgap10 alitemscenter">
                        <img src="<%= owner.avatar_url  %>" class="avatar" alt="">
                        <h4 class="mb0"><%= owner.display_name %></h4>
                    </div>
                </div>

                <div class="row carddetailsrow">
                    <div class="column dflex cardleft">
                        <h4 class="bold"><%= collection.name %></h4>
                    </div>

                    <div class="column dflex colgap5 cardright">
                        <h4>Rating:</h4>
                        <% if (collection.rating) { %>
                            <% for(let star = 0; star < collection.rating; star++ ) { %>
                                <img src="/images/star_full.png" alt="" height="30">
                            <% } %>
                        <% } else { %>
                            <h4>Unrated</h4>
                        <% } %>
                    </div>
                </div>

            <% } else { %>
                <div class="row">
                    <div class="column dflex colgap5 dropdowncol">
                        <!-- https://www.w3schools.com/howto/howto_css_dropdown.asp -->
                        <div class="dropdown">
                            <button class="bluebutton"><%= collection.name %></button>
                            <div class="dropdown-content">
                            <% collections.forEach(element => { %>
                                <a href="/collections/<%= element.collection_id %>"><%= element.collection_name %></a>
                            <% }) %>
                            </div>
                        </div>

                        <form action="/deletecoll" method="post">
                            <input type="hidden" name="collid" value="<%= collection.id %>">
                            <input class="button redbutton mb0" type="submit" value="Delete">
                        </form>
                    </div>

                    <div class="column">
                        <form action="/createcoll" method="post" class="mb0 dflex rowgap5 colgap5">
                                <input type="text" placeholder="Name" name="collname" id="searchField" class="mb0 searchbar" maxlength="20" required>
                                <input class="button yellowbutton mb0 ml10 textblack" type="submit" value="Create">
                        </form>
                    </div>
                </div>

            <% } %>
        </div>
            

    
        <% if (typeof userid === "undefined" || userid === null) { %>
            <%- include("partials/cards") %>
        <% } else { %>
            <%- include("partials/collectionCards") %>
        <% } %>

        <div class="container mt20">
            <div class="row">
                <% if (!collection.isOwner) { %>
                    <div class="column mb20">
                        <% if (!collection.rated) { %>
                            <form action="/ratecollection" class="dflex mb0 h100 fdcol jcontbetween" method="post">
                                <input type="hidden" name="collid" value="<%= collection.id  %>">
                                <div class="dflex jcontspacearound">
                                    <div>
                                        <input class="ratingradio" type="radio" name="rating" value="1" required>
                                        <label>1</label>
                                    </div>
                                    
                                    <div>
                                        <input class="ratingradio" type="radio" name="rating" value="2" required>
                                        <label>2</label>
                                    </div>
                                
                                    <div>
                                        <input class="ratingradio" type="radio" name="rating" value="3" required>
                                        <label>3</label>
                                    </div>
                                
                                    <div>
                                        <input class="ratingradio" type="radio" name="rating" value="4" required>
                                        <label>4</label>
                                    </div>
                                </div>

                                <div>
                                    <input class="button redbutton mb0 w100" type="submit" value="Rate">
                                </div>
                            </form>
                        <% } else { %>
                            <div class="dflex colgap10">
                                <div>
                                    <% for(let star = 0; star < collection.yourRating; star++ ) { %>
                                    <img src="/images/star_full.png" alt="" height="30">
                                    <% } %>
                                </div>
        
                                <form action="/unratecollection" method="post" class="mb0">
                                    <input type="hidden" name="collid" value="<%= collection.id %>">
                                    <input class="redoutlinebutton button button-outline mb0" type="submit"  value="Undo">
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                

                <div class="column">
                        <form action="/commentcollection" method="post" class="dflex colgap10 mb0 fdcol">
                            <input type="hidden" name="collid" value="<%= collection.id %>">
                            <textarea name="comment" id="textarea" cols="30" rows="10" class="searchbar" placeholder="Write something nice..." maxlength="200" required></textarea>
                            <div id="charcount">200</div>
                            <input class="button yellowbutton mb0 textblack" type="submit" value="Comment">
                        </form>
                    </div>
                </div>
            
            <% if (collection.comments.length > 0) { %>
                <div class="row mt10">
                    <div class="column">
                        <h4>Comments</h4>
                    </div>
                </div>
            <% } %>


            <% collection.comments.forEach(comment => { %>
                <div class="row mb20">
                    <div class="column column-75 commentleft">
                        <p class="breakword"><%= comment.comment_text %></p>
                    </div>
        
                    <div class="column column-25 dflex colgap5 flexwrap commentright">
                        <div class="bold"><%= comment.display_name %></div> <div>AT: <%= comment.time %> </div> <div><%= comment.date %></div>
                    </div>
                </div>
            <% }) %>

        </div>
    </div>

    <%- include("partials/footer") %>

    <script>
        /* https://stackoverflow.com/questions/14086398/count-textarea-characters */
        const textarea = document.getElementById("textarea");
        const charCount = document.getElementById("charcount");

        textarea.addEventListener("input", () => {
            const target = event.currentTarget;
            const max = target.getAttribute("maxlength");
            charCount.innerHTML = max - target.value.length;
        });
    </script>
</body>
</html>