<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="row">
        <div class="column">
            <div class="container mt10">
                <form action="/expansions" method="get" class="mb0 dflex colgap5">
                    <input type="text" placeholder="Search" name="search" id="searchField" class="mb0 searchbar" required>
                    <input class="button-primary bluebutton textwhite mb0 ml10" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <% expansions.forEach(row => { %>
            <div class="row mt20 dflex rowgap5">
                <% row.forEach(expansion => { %>
                    <div class="column browsecol dflex jcontcenter">
                        <div class="card dflex fdcol w100 jcontcenter">
                            <a href="/expansions/<%= expansion.expansion_id %>" class="textblack centertext">
                                <img src="<%= expansion.logo_url %>" alt="" width="" class="cardimg">
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>

    <%- include("partials/footer") %>
</body>
</html>