<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="container carddetails">
        <div class="row">
            <div class="column">
                <form action="/filter" method="get">
                    <h5>HP</h5>
                    <input type="number" min="0" max="200" step="5" name="minhp" id="minhp" placeholder="min" class="searchbar">
                    <input type="number" min="0" max="200" step="5" name="maxhp" id="maxhp" placeholder="max" class="searchbar">

                    <h5>Likes</h5>
                    <input type="number" name="minlikes" class="searchbar" placeholder="min" min="0">
                    <input type="number" name="maxlikes" class="searchbar" placeholder="max" min="0">

                    <h5>Expansion</h5>
                    <select id="expansionid" name="expid" class="dropdown">
                        <option value="" selected>Select Expansion</option>
                        <% expansions.forEach(expansion => { %>
                            <option value=<%= expansion.expansion_id  %>><%= expansion.expansion_name  %></option>
                        <% }) %>
                    </select>

                    <h5>Illustrator</h5>
                    <select id="illid" name="illid" class="dropdown">
                        <option value="" selected>Select Illustrator</option>
                        <% illustrators.forEach(illustrator => { %>
                            <option value=<%= illustrator.illustrator_id  %>><%= illustrator.illustrator_name  %></option>
                        <% }) %>
                    </select>
                    
                    <h5>Weakness</h5>
                    <select id="weaknessid" name="weaknessid" class="dropdown">
                        <option value="" selected>Select Weakness</option>
                        <% types.forEach(type => { %>
                            <option value=<%= type.type_id  %>><%= type.type_name  %></option>
                        <% }) %>
                    </select>

                    <h5>Type</h5>
                    <select id="typeid" name="typeid" class="dropdown">
                        <option value="" selected>Select Type</option>
                        <% types.forEach(type => { %>
                            <option value=<%= type.type_id  %>><%= type.type_name  %></option>
                        <% }) %>
                    </select>

                    <input class="button-primary bluebutton textwhite mb0 w100" type="submit" value="Filter">
                </form>
            </div>
        </div>

    </div>

    <%- include("partials/footer") %>
</body>
</html>